[submodule "curso_logica_de_programacao_com_javaScript_e_Html"]
	path = curso_logica_de_programacao_com_javaScript_e_Html
	url = https://github.com/nunesjessica44/curso_logica_de_programacao_com_javaScript_e_Html.git
